@model Final_Project_Group20_1.Models.Position

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>Position</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.PositionTitle)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.PositionTitle)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.PositionDescription)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.PositionDescription)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.PositionType)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.PositionType)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Company.CompanyName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Company.CompanyName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Company.CompanyIndustry)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Company.CompanyIndustry)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Location)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Location)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Majors)
        </dt>
        <dd>
            @foreach (MajorPosition mp in Model.MajorPositions)
            {
                <div>@Html.DisplayFor(model => mp.Major.MajorName)</div>
            }
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Deadline)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Deadline)
        </dd>
    </dl>

</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.PositionID">Edit</a> |
    @if (User.IsInRole("Student"))
    {
         @Html.ActionLink("Apply","Create","Application")
       

    }
    |
    <a asp-action="Index">Back to List</a>

</div>


