@model IEnumerable<Final_Project_Group20_1.Models.RegisterStudentViewModel>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

@Html.ActionLink("Company Positions", "Index", "Position", null, new { @class = "btn btn-primary" })
@Html.ActionLink("Applications", "Index", "Application", null, new { @class = "btn btn-secondary" })
@Html.ActionLink("Interviews", "Index", "Interview", null, new { @class = "btn btn-danger" })
@Html.ActionLink("Detailed Search", "DetailedSearch", "Position", null, new { @class = "btn btn-info" })

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FirstName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LastName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MajorName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.GraduationDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Position)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.GPA)
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model){
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Email)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.FirstName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.LastName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.MajorName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.GraduationDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Position)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.GPA)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.UserID">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.UserID">Details</a>
                </td>
            </tr>
         }
    </tbody>
</table>

@*<h5>View </h5>
    <table class="table table-primary">
        <tr>
            <th>Application Status</th>
            <th>Company</th>
            <th>Position</th>
            <th>Withdraw Application</th> @*//does this line of code need to be here? we need to add a button in this spot on the list? how do we add/change a conroller method to check if the application deadline has passed?
        </tr>*@
@*
@foreach (Application rd in Model.Application) //TODO: must fix this line
{
    <tr>
        <td>@Html.DisplayFor(ModelItem => rd.ApplicationStatus)</td>
        <td>@Html.DisplayFor(ModelItem => rd.CompanyName)</td>
        <td>@Html.DisplayFor(ModelItem => rd.PositionTitle)</td>
        <td>@Html.ActionLink("Withdraw Application", "WithdrawApplication", "CSO", null, new { @class = "btn btn-danger" })</td> @*//TODO: fix this button//add something where if accpted they can schedule interview// add something where student can with draw before deadline
    </tr>
 }*@